Repository vcaboara/job-lead-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: inclusive-language, pytest-commit, pytest-push

inclusive-language:
  name: inclusive-language
  entry: python scripts/check_inclusive_language.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

pytest-commit:
  name: pytest (fast tests - commit)
  entry: uv run pytest
  language: system
  pass_filenames: false
  args:
  - -m
  - not slow
  - --maxfail=1
  - --tb=line
  - -q
  - -p
  - no:xdist
  - -p
  - no:benchmark
  - --timeout=10
  stages:
  - pre-commit

pytest-push:
  name: pytest (full suite - push)
  entry: uv run pytest
  language: system
  pass_filenames: false
  args:
  - -v
  - --tb=short
  - --maxfail=5
  - --timeout=30
  stages:
  - pre-push

feat(phase-1): replace Gemini query extraction with Ollama + env config
  src/app/background_scheduler.py
  tests/test_auto_discovery.py
Due: inclusive-language, pytest-commit, pytest-push

fix(phase-1): isolate resume file in tests, fix scheduler path
  ROADMAP.md
  src/app/background_scheduler.py
  tests/conftest.py
  tests/test_upload_resume.py
Due: inclusive-language, pytest-commit, pytest-push

feat(phase-1): add unit tests for RemoteOKMCP and RemotiveMCP
  src/app/mcp_providers.py
  tests/test_mcp_providers.py
Due: inclusive-language, pytest-commit, pytest-push

fix: trailing whitespace, isort, and black formatting (pre-push auto-fixes)
  .ai-tasks/TODO-patent-analysis-framework.md.processed
  .ai-tasks/TODO-ui-job-tracking-improvements.md.failed
  docs/EMAIL_WEBHOOK_SETUP.md
  src/app/email_integration.py
  src/app/email_processor.py
  tests/test_email_parser.py
Due: inclusive-language, pytest-commit, pytest-push

fix(isort): add src_paths to tell isort app is first-party
  pyproject.toml
Due: inclusive-language

fix(isort): declare app as first-party in pre-commit hook and reformat
  .pre-commit-config.yaml
Due: inclusive-language

fix(ci): add httpx2 to test deps to silence starlette deprecation
  pyproject.toml
Due: inclusive-language

chore: ignore AI-generated dot-folders (.ai-review, .ai-tasks, framework)
  .gitignore
Due: inclusive-language

chore: update uv.lock with httpx2 dependency
  uv.lock
Due: none

feat(phase-1): add logger to mcp_providers, tests for RemoteOKMCP/RemotiveMCP
  .gitignore
  pyproject.toml
  src/app/mcp_providers.py
  tests/test_mcp_providers.py
  uv.lock
Due: inclusive-language, pytest-commit, pytest-push

refactor: use logger.exception() for full traceback, document httpx2 dep
  pyproject.toml
  src/app/mcp_providers.py
  tests/test_mcp_providers.py
Due: inclusive-language, pytest-commit, pytest-push

test: use dict comparison in test_search_jobs_success for full failure visibility
  tests/test_mcp_providers.py
Due: inclusive-language, pytest-commit, pytest-push

fix: add logger to mcp_providers, unit tests for RemoteOKMCP/RemotiveMCP (#159)
  .gitignore
  pyproject.toml
  src/app/mcp_providers.py
  tests/test_mcp_providers.py
  uv.lock
Due: inclusive-language, pytest-commit, pytest-push

fix: remove redundant local logger in search_jobs, drop empty test
  src/app/mcp_providers.py
  tests/test_verify_version_auto_merge.py
Due: inclusive-language, pytest-commit, pytest-push

fix: remove redundant local logger in search_jobs, drop empty test (#160)
  src/app/mcp_providers.py
  tests/test_verify_version_auto_merge.py
Due: inclusive-language, pytest-commit, pytest-push

feat: add JobRunRecorder for proof-of-work logging
  src/app/background_scheduler.py
  src/app/job_run_recorder.py
  tests/test_job_run_recorder.py
Due: inclusive-language, pytest-commit, pytest-push

refactor: add RUN_STATUS_* constants to replace hardcoded status strings
  src/app/background_scheduler.py
  src/app/job_run_recorder.py
  tests/test_job_run_recorder.py
Due: inclusive-language, pytest-commit, pytest-push

chore: fix job_runs.db path, add .claudeignore to limit indexing
  .claudeignore
  src/app/job_run_recorder.py
Due: inclusive-language, pytest-commit, pytest-push

fix: address Copilot review feedback on JobRunRecorder
  scripts/ollama_code_assistant.py
  src/app/background_scheduler.py
  src/app/job_run_recorder.py
  tests/test_job_run_recorder.py
Due: inclusive-language, pytest-commit, pytest-push

feat: add JobRunRecorder for proof-of-work logging (#161)
  .claudeignore
  scripts/ollama_code_assistant.py
  src/app/background_scheduler.py
  src/app/job_run_recorder.py
  tests/test_job_run_recorder.py
Due: inclusive-language, pytest-commit, pytest-push

fix: repair scheduler pipeline and mark Gemini test as integration
  .pre-commit-config.yaml
  docker-compose.yml
  pyproject.toml
  src/app/background_scheduler.py
  src/app/gemini_provider.py
  tests/test_auto_discovery.py
  tests/test_gemini_provider.py
Due: inclusive-language, pytest-commit, pytest-push

fix: address Copilot feedback, tighten evaluation quality
  pyproject.toml
  src/app/background_scheduler.py
  src/app/gemini_provider.py
Due: inclusive-language, pytest-commit, pytest-push

fix: repair end-to-end scheduler pipeline (#163)
  .pre-commit-config.yaml
  docker-compose.yml
  src/app/background_scheduler.py
  src/app/gemini_provider.py
  tests/test_auto_discovery.py
  tests/test_gemini_provider.py
Due: inclusive-language, pytest-commit, pytest-push

fix: use GITHUB_TOKEN for checkout, not VERSION_BUMP_PAT
  .github/workflows/version-bump.yml
Due: inclusive-language

refine: use GITHUB_TOKEN for gh pr create, PAT only for merge
  .github/workflows/version-bump.yml
Due: inclusive-language

fix: use GITHUB_TOKEN for checkout in version-bump workflow (#164)
  .github/workflows/version-bump.yml
Due: inclusive-language

feat: use qwen3:latest for Ollama job evaluation
  docker-compose.yml
  src/app/ollama_provider.py
Due: inclusive-language, pytest-commit, pytest-push

Path conditions:
  inclusive-language: any file but: ^(\.git/|node_modules/|venv/|.*\.lock$|\.github/inclusive-language\.yaml|docs/INCLUSIVE_LANGUAGE\.md)
  pytest-commit: any of: ^(src/|tests/) and \.py$
  pytest-push: any of: ^(src/|tests/) and \.py$
